* {
   font-size: 16px;
   font-family: MonoplexKR-Regular;
   /* font-family: 'DejaVu Sans Mono', 'D2 Coding', monospace; */
}

/*
    @font-face {
        font-family: 'D2 Coding';
        src: url('fonts/D2 Coding.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
*/
html {
   font-size: 16px;
   font-family: MonoplexKR-Regular;
}

@font-face {
    font-family: 'MonoplexKR-Regular';
    src: url('/fonts/MonoplexKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
  max-width: 900px;  /* For Desktop PC (see @media for Tablets/Phones) */
  padding-left: 2%;
  padding-right: 3%;
  margin: 0 auto;
  background: #e3dfd3;
}

a {
  color: black;
  text-decoration: underline;
}

nav {
}

img {
  border: none;
}

p {
  margin-top: 0px;
  text-align: justify;
}
sup {
  vertical-align: 0.3em;
  font-size: 0.65em;
}

code {
  background: #f6f8fa;
  border-radius: 0.5ch;
  padding: 0.1em 0.3em;
  font-weight: bold;
}

pre {
  background: #f6f8fa;
  border: 1px solid #bbb;
  border-radius: 0.5ch;
  padding: 1ch 2%;
  overflow: auto;
  white-space: pre;
}

pre code {
  background: none;
  border: none;
  padding: 0;
  font-weight: normal;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4ch;
  margin-bottom: 0;
  font-size: 1em;
}

/** {
  font-size: 16px;
}*/
@media (max-width: 500px) { /* For small screen decices */
  * {
    font-size: 12px;
  }
}

.title {
  text-decoration: none;
}

img.pixel, canvas.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

blockquote {
  background-color: #f6f8fa;
  border: dashed 1px grey;
  width: 97.5%;
  font-style: italic;
  text-align: justify;

  padding: 1ch;
  padding-top: 2ch;
  padding-bottom: 2ch;

  margin: 0ch;
  margin-bottom: 2ch;
  margin-top: 0ch;
}

blockquote div {
  text-transform: none;
  text-align: right;
  width: 100%;
}

a.footnote-ref::before { content: "["; }
a.footnote-ref::after { content: "]"; }

.footnotes::before {
  content: "References";
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-top: 4ch;
}
.footnotes hr { display: none; }

.footnotes ol {
  list-style: none;
  counter-reset: fn;
  padding-left: 0;
}
.footnotes ol li {
  counter-increment: fn;
  position: relative;
  padding-left: 3.5ch;
}
.footnotes ol li::before {
  content: "[" counter(fn) "]";
  position: absolute;
  left: 0;
}
