<meta charset="utf-8">
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ .Site.BaseURL }}" href="/rss.xml" />
{{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Title | default .Site.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=12.0, minimum-scale=1.0, user-scalable=yes">
