<!DOCTYPE html>
<html lang='en'>
<head>
  {{ partial "head.html" . }}
</head>
  <body><br><center>
{{ partial "header.html" . }}
</center><br><br>
<div style="margin-bottom: 2ch;text-transform: none;">
</div>
<div class='heading'>{{ .Site.Title }}</div><hr/>
{{ .Content }}
<div class='heading'>Articles</div><hr/>
<p style="text-align: left;margin-bottom: 1ch;">
{{ range (where .Site.RegularPages "Section" "articles").ByDate.Reverse }}
{{ .Date.Format "2006/01/02" }}: <a href="{{ .RelPermalink }}">{{ .Title }}</a><br/><br/>
{{ end }}
</p>
{{ partial "footer.html" . }}
</body>
</html>
